.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex; 
  justify-content: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header > li {
  text-decoration: none;
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  margin: 0 5px;
}

.App-footer {
  display: flex; 
  justify-content: center;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(5, 5, 5);
  padding: 5px;
  color: rgb(0, 0, 0);
}

.App-footer > li {
  text-decoration: none;
  font-size: 90%;
  display: inline-block;
  border: 1px solid rgb(5, 5, 5);
  padding: 2px;
  margin: 0 50px;
}


.App-header > a {
  font-size: 90%;
  text-decoration: none;
  display: inline-block;
  border: 1px solid white;
  border-style: outset;
  padding: 4px;
  margin: 0 5px;
}

.sold-item {
  padding: 15px;
  margin: 25px;
  border: 1px solid grey;
  border-style: outset; 
}

.remove-button {
  display: flex;
  justify-content: flex-end;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Main-items {
  padding: 15px;

}

#sort {
  border-radius: 10%;
  border: 1px solid;
  background-color: white;
  border-color: black;
  color: black;
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background-color: white;
  color: black;
  border: 1px solid #555555;
  cursor: pointer
}

.button:hover {
  background-color: #555555;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  cursor: pointer
}

.button3 {
  background-color: white;
  color: black;
  border: 3px solid #555555;
}

.button2:hover {
  background-color: #555555;
  color: white;
}

.flash {
  position: relative;
  background-color: #222;
  border-style: outset;
  padding: 4px;
  margin: 0 5px;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.flash:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.flash:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.curse {
  cursor: pointer
}
